{% extends 'base.html.twig' %}

{% block title %}Editar categoria!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container-fluid mt-4 card p-4 shadow-lg p-3 mb-5 bg-white rounded" style="width: 36rem;">
        {% for message in errors %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}
